.login-component {
  .login-form {
    display: flex;
    gap: 20px;
  }

  .register-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 48px;
  }
}


@media (max-width: 768px) {
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}