.sidebar-component {

  .sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: #fff;

    .sidebar-header {
      text-align: center;
      margin-bottom: 20px;
    }
  }


  .user-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 12px;
    box-shadow: 0rem 0rem 5px;
  }

  .dropdown-menu {
    min-width: fit-content;
  }

  .username-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }



  .user-dropdown-btn {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid;
    margin: 4px 0;

    .user-image {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }

  @media (min-width: 768px) {
    .dropdown-menu {
      display: none;
    }
  }



  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .sidebar-header {
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 20px;
      padding: 0 12px;

      .user-info {
        box-shadow: none !important;
        position: relative !important;
        cursor: pointer;
        justify-content: end !important;
        padding: 0 !important;


        .user-dropdown-btn {
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid;
        }

        .username-container {
          display: none !important;
        }

      }
    }

    .sidebar-nav {
      display: flex;
      flex-direction: row;
    }

    .sidebar-nav li {
      padding: 15px;
    }
  }
}